@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-panel: var(--panel);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-keyword: var(--keyword);
  --color-string: var(--string);
  --color-number: var(--number);
  --color-variable: var(--variable);
  --color-comment: var(--comment);
}

@layer base {
  /* light theme */
  :root {
    --background: #ffffff;
    --panel: #f6f8fa;
    --foreground: #24292f;
    --accent: #0969da;
    --keyword: #d73a49;
    --string: #032f62;
    --number: #005cc5;
    --variable: #8250df;
    --comment: #6a737d;
  }
  /* dark theme */
  .dark {
    --background: #0d1117;
    --panel: #161b22;
    --foreground: #c9d1d9;
    --accent: #58a6ff;
    --keyword: #ff7b72;
    --string: #a5d6ff;
    --number: #d29922;
    --variable: #d2a8ff;
    --comment: #8b949e;
  }
}
